PYTHON_VERSION="$(python3 -c 'from sys import version_info as v; print(f"{v[0]}.{v[1]}")')"
export PYTHONPATH="$PWD/__pypackages__/$PYTHON_VERSION:${PYTHONPATH:-}"
export PATH="$PWD/__pypackages__/$PYTHON_VERSION/bin:$PATH"
python3 -m pip install -t "__pypackages__/$PYTHON_VERSION" -e .
